<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta http-equiv="Content-Type" content="text/html " charset="UTF-8">
    <title>Catalog</title>

    <style>
        .textCenterRed {
            text-align: center;
            color: crimson;
        }

        .ref {
            align: right;
            color: olive;
        }
    </style>

</head>
<body>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<div th:if="${author == ('[ADMIN]')}">
    <button><a th:href="@{http://localhost:8090/entrService}" class="ref"> Entertainment service </a></button>
</div>
<div th:if="${author == ('[ADMIN]')}">
    <button><a th:href="@{http://localhost:8090/userService}" class="ref"> User service </a></button>
</div>

<h3 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h3>

<h4 th:inline="text" class="textCenterRed">Our Entertainment</h4>

<form th:action="@{http://localhost:8090/catalog}">
    <button style="color: forestgreen" type="submit"> All catalog</button>
</form>

<div>Find by name entertainment</div>

<form method="post" th:action="@{/find}">
    <label>
        <input type="text" name="name"/>
    </label>
    <button type="submit" value="Submit">Filter</button>
</form>

<div>
    <th:block th:each="entr:${entertainments}">
        <strong th:text="${entr.name}"/>
        <span th:text="${entr.description}"/>
        <strong th:text="${entr.address}"/>
        <strong th:text="${entr.date}"/>
        <br>
    </th:block>
</div>

</body>
</html>
