<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html " charset="UTF-8">
    <title>Menu</title>


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>

<!--<span th:fragment="common.html :: comn"></span>-->
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"> Entertainment </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a style="color: #a1a3d3" class="nav-link" href="/catalog"> GO </a>
                </li>
                <li class="nav-item">
                    <a style="color: #827581" class="nav-link" href="/login"> Login </a>
                </li>
                <li class="nav-item">
                    <a style="color: #827581" class="nav-link" href="/registration"> Registration </a>
                </li>
            </ul>
        </div>
    </nav>
</div>


</body>
</html>


