<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html " charset="UTF-8">
    <title>EnterService</title>

    <style>
        .ref {
            text-align:right;
            color: olive;
        }
    </style>
</head>
<body>

<button><a th:href="@{http://localhost:8090/userService}" class="ref"> User service </a></button>

<div>
    <div> Add Entertainment</div>
    <form method="post" th:action="@{/entrService/add}">
        <label>
            <input type="text" th:name="name" placeholder="name"/>
        </label>
        <label>
            <input type="text" th:name="description" placeholder="description"/>
        </label>
        <label>
            <input type="text" th:name="address" placeholder="address"/>
        </label>
        <label>
            <input type="date" th:name="date" placeholder="date"/>
        </label>
        <button type="submit"> Enter</button>
    </form>
</div>

<div>
    <div> Delete Entertainment</div>
    <form method="post" th:action="@{/entrService/delete}">
        <label>
            <input type="number" th:name="id" placeholder="id"/>
        </label>
        <button type="submit"> Delete</button>
        <br/>
        <strong th:text="${delEntertainment}"/>
    </form>
</div>

<div>
    <div>Update Entertainment</div>
    <form method="post" th:action="@{/entrService/update}">
        <label>
            <input type="number" th:name="id" placeholder="id"/>
        </label>
        <label>
            <input type="text" th:name="description" placeholder="description"/>
        </label>
        <label>
            <input type="text" th:name="address" placeholder="address"/>
        </label>
        <label>
            <input type="date" th:name="date" placeholder="date"/>
        </label>
        <button type="submit"> Change</button>
        <br/>
        <strong th:text="${entertainment}"/>
    </form>
</div>

<div>
    <form th:action="@{http://localhost:8090/entrService/view}">
        <button style="color: forestgreen" type="submit"> Catalog</button>
    </form>
</div>

<div>
    <th:block th:each="entr:${entertainments}">
        <strong th:text="${entr.id}"/>
        <strong th:text="${entr.name}"/>
        <span th:text="${entr.description}"/>
        <strong th:text="${entr.address}"/>
        <strong th:text="${entr.date}"/>
        <br>
    </th:block>
</div>

<div>
    <form th:action="@{http://localhost:8090/catalog}">
        <button style="color: forestgreen" type="submit"> UserCatalog</button>
    </form>
</div>

</body>
</html>