<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html " charset="UTF-8">
    <title>UserService</title>

    <style>
        .ref {
            text-align: right;
            color: olive;
        }
    </style>

</head>
<body>

<button><a th:href="@{http://localhost:8090/entrService}" class="ref"> Entertainment service </a></button>

<button><a th:href="@{http://localhost:8090/catalog}" class="ref"> Catalog </a></button>

<div>
    <div>Delete User</div>
    <form method="post" th:action="@{/userService/delete}">
        <label>
            <input type="number" th:name="id" placeholder="id"/>
        </label>
        <button style="color: brown" type="submit"> Delete</button>
        <br/>
        <strong th:text="${delUser}"/>
        <br/>
    </form>
</div>

<div>
    <form th:action="@{http://localhost:8090/userService/view}">
        <button style="color: forestgreen" type="submit"> User List</button>
    </form>
</div>

<div>
    <th:block th:each="usr:${users}">
        <strong th:text="${usr.id}"/>
        <strong th:text="${usr.username}"/>
        <span th:text="${usr.active}"/>
        <br/>
    </th:block>
</div>

</body>
</html>